<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>신고게시판</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="/assets/css/main.css"/>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">
                <a href="getReportBoardList" class="logo"><h1>신고게시판</h1></a>
                <ul class="icons">
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/system/login}">로그인</a></li>
                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/system/login}">회원가입</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/system/mypage}">마이페이지</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/system/logout}">로그아웃</a></li>
                </ul>
            </header>
                
            <form th:action="@{/board/updateReportBoard}" method="post" enctype="multipart/form-data">
                <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
                    <tr>
                        <td th:text="제목" th:width="80"></td>
                        <td><input name="reportID" type="hidden" th:value="${reportBoard.reportID}">
                            <input name="title" type="text" th:value="${reportBoard.title}"></td>
                    </tr>
                    <tr>
                        <td th:text="작성자"></td>
                        <td th:text="${reportBoard.memberID.name}"></td>
                    </tr>
                    <tr>
                        <td th:text="분류"></td>
                        <td th:text="${reportBoard.boardCategory}"></td>
                    </tr>
                    
                    <tr sec:authorize="hasRole('ROLE_MEMBER_PHONE')">
                        <td th:text="상태"></td>
                        <td>
                        <select name="reportStatus">
                            	<option th:text="${reportBoard.reportStatus}"/>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="상태"></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <select name="reportStatus">
                            	<option th:if="${reportBoard.boardCategory=='공지'}" value="공지">공지</option>
                                <option th:if="${reportBoard.boardCategory!='공지'}" value="처리중">처리중</option>
                                <option th:if="${reportBoard.boardCategory!='공지'}" value="처리완료">처리완료</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="내용"></td>
                        <td><textarea name="content" th:text="${reportBoard.content}" cols="40" rows="10"></textarea></td>
                    </tr>

                    <tr>
                        <td th:text="등록일"></td>
                        <td th:text="${#dates.format(reportBoard.createDate, 'yyyy-MM-dd')}"></td>
                    </tr>
<!--                     <tr>
                        <td colspan="2" align="center">
                            <input type="file" multiple="multiple" name="files">
                            <input type="file" multiple="multiple" name="files">
                            <input type="file" multiple="multiple" name="files">
                        </td>
                    </tr> -->

                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="게시글 수정">
                        </td>
                    </tr>
                </table>
            </form>

            <a th:href="@{/board/getReportBoard(reportID=${reportBoard.reportID})}">뒤로가기</a>

        </div>
    </div>

<!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">
            <section id="sideLogo" class="alt">
                <a href="/">
                    <img src="/images/logo.png">
                </a>
            </section>
            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="/">홈페이지</a></li>
                    <li><a href="/road/informationRoad">갈맷길 정보</a></li>
                    <li>
                        <span class="opener">갈맷길 코스안내</span>
                        <ul>
                            <li><a href="/road/getRoadList?courseID=01C&index=0">코스1</a></li>
                            <li><a href="/road/getRoadList?courseID=02C&index=0">코스2</a></li>
                            <li><a href="/road/getRoadList?courseID=03C&index=0">코스3</a></li>
                            <li><a href="/road/getRoadList?courseID=04C&index=0">코스4</a></li>
                            <li><a href="/road/getRoadList?courseID=05C&index=0">코스5</a></li>
                            <li><a href="/road/getRoadList?courseID=06C&index=0">코스6</a></li>
                            <li><a href="/road/getRoadList?courseID=07C&index=0">코스7</a></li>
                            <li><a href="/road/getRoadList?courseID=08C&index=0">코스8</a></li>
                            <li><a href="/road/getRoadList?courseID=09C&index=0">코스9</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="opener">게시판</span>
                        <ul>
                            <li><a href="getReportBoardList">신고게시판</a></li>
                            <li><a href="getFreeBoardList">자유게시판</a></li>
                        </ul>
                    </li>
                    <li><a href="/QR/QRGuide">QR체크</a></li>
                    <li><a href="/shop/productsList">포인트 쇼핑몰</a></li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <span class="opener">관리자 모드</span>
                        <ul>
                            <li>
                                <span> 정보 가져오기 </span>
                                <ul>
                                    <li><a href="/json/insertCourse">코스 가져오기</a></li>
                                    <li><a href="/json/roadJson">구간 가져오기</a></li>
                                    <li><a href="/json/touristJson">여행지 정보 가져오기</a></li>
                                    <li><a href="/json/toiletJson">화장실 정보 가져오기</a></li>
                                    <li><a href="/json/restaurantJson">식당 정보 가져오기</a></li>
                                    <li><a href="/json/hotelJson">숙박업소 정보 가져오기</a></li>
                                    <li><a href="/json/photoZoneJson">포토존 정보 가져오기</a></li>
                                    <li><a href="/json/allJSON">모든 정보 가져오기</a></li>
                                </ul>
                            </li>
                            <li>
                                <span> 엑셀 다운로드 </span>
                                <ul>
                                    <li><a th:href="@{/excel/roadDownload}">구간 정보 엑셀 다운로드</a></li>
                                    <li><a th:href="@{/excel/toiletDownload}">화장실 정보 엑셀 다운로드</a></li>
                                    <li><a th:href="@{/excel/ptozoneDownload}">포토존 정보 엑셀 다운로드</a></li>
                                    <li><a th:href="@{/excel/TouristDownload}">여행지 정보 엑셀 다운로드</a></li>
                                    <li><a th:href="@{/excel/HotelDownload}">호텔 정보 엑셀 다운로드</a></li>
                                    <li><a th:href="@{/excel/restaurantDownload}">레스토랑 정보 엑셀 다운로드</a></li>
                                </ul>
                            </li>
                            <li>
                                <span> 정보 추가,수정,삭제 </span>
                                <ul>
                                    <li><a th:href="@{/excel/insert}">구간 정보 엑셀</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Team. Sixsense</h2>
                </header>
                <p>클라우드 No.1 메가존클라우드와 함께하는</p>
                <p>클라우드 네이티브 애플리케이션 개발자 양성과정</p>
                <ul class="contact">
                    <li class="icon solid fa-handshake">광안대교 2반 3조</li>
                    <li class="icon solid fa-users">
                        <p>김석림 김지훈 손용균</p>
                        <p>윤기영 전민재 정수승</p>
                    </li>
                    <li class="icon solid fa-home">
                        <p>부산광역시 해운대구 센텀동로 41</p>
                        <p>센텀벤처타운 5층 광안대교 2반</p>
                    </li>
                </ul>
            </section>
            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Sixsense. All rights reserved. Demo Images: <a
                        href="https://busan.go.kr">부산광역시, </a><a href="https://galmaetgil.org">걷고싶은부산.</a> Design: <a href="https://html5up.net">HTML5
                    UP</a>.</p>
            </footer>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>

</html>