<!DOCTYPE HTML>
<html>
<head>
<title>스토리보드</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/css/locationService.css" />
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=300f0c824f4ae684bf3678511271fd68"></script>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo"><h1>끼룩로드</h1></a>
					<ul class="icons">
						<li><span class="label">로그인/회원가입</span></a></li>
					</ul>
				</header>
				<!-- Banner -->
				<section id="banner">
						<header>
						</header>
						<div id="map" style="width:500px;height:400px;"></div>
							<script>
								var container = document.getElementById('map'); // 지도를 표시할 div
								var options = {
									center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심 좌표
									level: 2
								};
								var map = new kakao.maps.Map(container, options);
							</script>
				</section>
			</div>
		</div>
		
		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="index.html">홈페이지</a></li>
						<li><span class="opener">갈맷길 정보</span>
							<ul>
								<li><a href="#">코스 정보</a></li>
								<li><a href="#">주변 화장실</a></li>
							</ul></li>
						<li><span class="opener">갈맷길 코스안내</span>
							<ul>
								<li><a href="#">코스1</a></li>
								<li><a href="#">코스2</a></li>
								<li><a href="#">코스3</a></li>
								<li><a href="#">코스4</a></li>
								<li><a href="#">코스5</a></li>
								<li><a href="#">코스6</a></li>
								<li><a href="#">코스7</a></li>
								<li><a href="#">코스8</a></li>
								<li><a href="#">코스9</a></li>
							</ul></li>
						<li><a href="/QR/QRGuide">QR코드 안내</a></li>
						<li><span class="opener">게시판</span>
							<ul>
								<li><a href="#">신고게시판</a></li>
								<li><a href="board/freeboard.html">자유게시판</a></li>
							</ul></li>
						<li><a href="generic.html">포인트 쇼핑몰</a></li>
					</ul>
				</nav>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Team. SixSense</h2>
					</header>
					<p>김석림 김지훈 손용균</p>
					<p>윤기영 전민재 정수승</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">luster308@gmail.com</a></li>
						<li class="icon solid fa-phone">010-2838-2312</li>
						<li class="icon solid fa-home">부산광역시 해운대구 센텀동로 41 센텀벤처타운, 5층
							광안대교2반</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">
						&copy; Untitled. All rights reserved. Demo Images: <a
							href="https://unsplash.com">Unsplash</a>. Design: <a
							href="https://html5up.net">HTML5 UP</a>.
					</p>
				</footer>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

</body>

</html>